/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #2E2E2E; /* Cinza Escuro */
    margin: 0;
    padding: 0;
    color: #F0F0F0; /* Cinza Claro */
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #3C3C3C; /* Cinza Médio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais escura */
    text-align: center;
}

h1 {
    color: #9272cb; /* Roxo Claro */
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.game-list {
    list-style-type: none;
    padding: 0;
}

.game-list li {
    margin: 15px 0;
}

.game-btn {
    background-color: #9272cb; /* Roxo Claro */
    color: #dcdcdc; /* Cinza Médio */
    border: none;
    padding: 12px 0; /* Ajustado para altura uniforme */
    width: 200px; /* Largura fixa */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block; /* Para garantir que o tamanho fixo seja aplicado corretamente */
    margin: 10px; /* Margem uniforme */
}

.game-btn:hover {
    background-color: #8E24AA; /* Roxo Escuro */
    transform: scale(1.05);
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo mais escuro */
    align-items: center;
    justify-content: center;
    overflow: auto; /* Permite rolagem da página se necessário */
}

.popup-content {
    background-color: #424242; /* Cinza Escuro */
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    max-height: 80vh; /* Limita a altura máxima do popup */
    overflow-y: auto; /* Permite rolagem vertical dentro do popup */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais escura */
}


.popup-content h2 {
    margin-top: 0;
    color: #9272cb; /* Roxo Claro */
}

.popup-content p {
    line-height: 1.6;
    color: #E0E0E0; /* Cinza mais Claro */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #9272cb; /* Roxo Claro */
    transition: color 0.3s;
}

.close:hover {
    color: #8E24AA; /* Roxo Escuro */
}
